/* Contact Me Form */
.contact-form-wrapper{
    width: 100%;
    height: 100%;
    text-align: center;
}
.contact-form-wrapper>h3{
    font-size: 3em;
    color: #8000ff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 2px 2px 5px #000;
}
.contact-form-wrapper>p{
    font-size: 1.5em;
    color: #8000ff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 2px 2px 5px #000;
}
.contact-form-elements{
    margin: 0.5%;
}