/* Landing */
.landing{
    height: 100%;
    width: 100%;
}
.landing>h1{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    text-align: center;
    font-size: 3em;
    color: #8000ff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 2px 2px 5px #000;
}
.landing span{
    font-size: 2rem;
}
/* About me */
.about{
    width: 100%;
    background-color: #eee;
    font-size: 2em;
    border-top: 3px #000 solid;
    border-bottom: 3px #000 solid;
}
.about>p{
    width: 75%;
    text-align: center;
    margin: 0 auto;
    padding: 1%;
    border-bottom: 3px #000 solid;
}
.about>img{
    display: block;
    width: 50%;
    margin: 0% auto;
    padding: 1% 0;
}