@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
/* Getting rid of default padding and margin */
*{
    padding: 0;
    margin: 0;
    font-family: 'Fira Code', monospace;
}
/* Loader */
.loader-wrapper{
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner{
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  /* Loading animimation */
  @keyframes loader{
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner{
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
/* Setting HTML, Body, and Main elements to the size of the screen */
html, body, main{
    height: 100%;
    width: 100;
}
html{
    scroll-behavior: smooth;
}
main{
    padding-top: 5%;
}
body{
    background-image: url("../img/landing.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Nav bar */
nav{
    z-index: 1;
    position: fixed;
    width: 100%;
    border-bottom: 2px #000 solid;
    padding: 0.5% 0;
    background-color: rgba(68, 68, 68, 0.5);
    box-shadow: 0 3px 50px #000;
    text-align: center;
}
a{
    margin: 0 2.5%;
    color: #8000ff;
    text-decoration: none;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 2px 2px 5px #000;
}
/* Footer */
footer a{
    margin: 0 10%;
}


/* Footer */
footer{
    width: 100%;
    background-color: rgba(68, 68, 68, 0.5);
    color: #8000ff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 2px 2px 5px #000;
    text-align: center;
    padding: 1% 0;
}